<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome <%= username %>!</title>
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">Welcome <%= username %>!</h1>
            </div>
            <div class="card-body">
                <p class="card-text">This is the homepage for the logged-in user. You can add more content here.</p>
                <!-- Logout button -->
                <div class="container">
                <a href="/user/logout" class="col-sm-2 btn btn-danger">Logout</a>
                <a href="/user/create-draft" class="col-sm-2 btn btn-success">Create New Draft</a>
                <a href="/user/settings" class="col-sm-2 btn btn-info">Edit Settings</a>
                </div>
                <div class="container mt-5">
                    <h1>Blog Post List</h1>
                    <div class="list-group">
                        <% records.forEach((post) => { %>
                            <a href="#" class="list-group-item list-group-item-action">
                                <h2 class="mb-1"><%= post.test_record_title %></h2>
                                <p class="mb-1"><%= post.test_record_subtitle %></p>
                                <% if (post.test_isPublished) { %>
                                    <p class="mb-1"><%= post.test_record_date %></p>
                                    <% } else { %>.
                                        <form action="/user/publish" method="post">
                                            <input type="hidden" name="postId" value="<%= post.test_record_id%>">
                                            <button type="submit" class="btn btn-success">Publish</button>
                                        </form>
                                    <% } %>
                                
                                     <a href="/user/update-record/<%= post.test_record_id%>" class="btn btn-primary col=md-2">Edit</a>
                                <form action="/user/deletePost" method="post">
                                    <input type="hidden" name="postId" value="<%= post.test_record_id%>">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>

                                
                            </a>
                        <% }); %>
                    </div>
            </div>
        </div>
    </div>

    <!-- Link Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>