<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= blog.test_record_title %> - Blog Post</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= blog.test_record_title %></h5>
                <p class="card-text"><%= blog.test_record_subtitle %></p>
                <p class="card-text"><%= blog.test_record_date %></p>
                <p class="card-text"><%= blog.test_record_content%></p>
                <a href="/user/record-list" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
