<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reader Homepage</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome <%= username %>!</h1>
            <p class="lead">Listed here are all of the articles published in this blog</p>
            <div class="container mt-5">
                <div class="row">
                    <% records.forEach((blog) => { %>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= blog.test_record_title %></h5>
                                    <p class="card-text"><%= blog.test_record_subtitle %></p>
                                    <p class="card-text"><%= blog.test_record_date %></p>
                                    <a href="/user/read/<%= blog.test_record_id %>" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
